<div ng-include="header.html" />
<div height="200" style="padding-bottom: 40px;">
	<h3>Car Hire Company - Book a Vechicle</h3>
</div>
<div ng-show="authenticated">
	<div style="float: left;">
		<label>Plate:</label>
		<input type="text" ng-model="vehiclePlate" style="height:30px;"/>
	</div>
	<div style="float: left;padding-left:20px;">
		<label>Type:</label>
		<select ng-model="vehicleType" style="height:30px;">
			<option value="CAR">Car</option>
			<option value="VAN">Van</option>
			<option value="CONVERTIBLE">Convertible</option>
			<option value="MOTORBIKE">Motorbike</option>			
		</select>
	</div>
	<div style="float: left;">
		<label>Wheels:</label>
		<input type="text" ng-model="vehicleWheels" style="height:30px;"/>
	</div>
	<div style="float: left;">
		<label>Passengers:</label>
		<input type="text" ng-model="vehiclePassengers" style="height:30px;"/>
	</div>		
	<div style="float: left; margin-left: 20px;">
		<button ng-click="book()">Book Vehicle</button>
	</div>
	<div>
		<br/>
		<br/>
	</div>
</div>
<div ng-show="!authenticated">
    <p><a href="#/login">Login</a> to book a vehicle</p>
</div>